ul {
    white-space: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #130f40;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: black;
}

#barre_en_haut_lecran li :hover {
    background-color: #0F52BA;
}

#menu {
    background: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: auto;
}

#menu h1 {
    color: #3f9cb3;
}

#barre_en_haut_lecran .active {
    background-color: #686de0;
}

section__title {
    padding: 0 20%;
    margin-bottom: 1.75rem;
    text-align: center
}

section {
    margin: 2.75rem 24%;
    text-justify: distribute;
    color: whitesmoke;
}

s1 {
    background-color: #1034A6;
    text-align: center;
}

s2 {
    background-color: blue;
}

.link {
    color: skyblue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    color: black;
}

.logocenter {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(122, 7, 23);
}

.columnl {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
    padding-left: 15%;
}

.columnr {
    float: right;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
    padding-right: 15%;
}

.card {
    background-color: #dff9fb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: center;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.pp {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

body {
    margin: 0px;
}

.download {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.download:hover {
    background-color: RoyalBlue;
}

.downl {
    float: left;
    padding-top: 4cm;
    padding-left: 5%;
    color: #192a56;
    font-size: xx-large;
}